# Working with Excel Sheets

In [1]:
import os;
import pandas as pd;

# import xlrd to do operations related to excel sheets
import xlrd;

In [2]:
lst  = os.listdir("./");

In [3]:
print(lst)

['.ipynb_checkpoints', 'first.ipynb', 'Pandas_series_datagrames.ipynb', 'Sheet2.xlsx', 'Sheets', 'WorkingWithSheets.ipynb', '~$Sheet2.xlsx']

In [4]:
data = pd.read_excel('Sheet2.xlsx');

In [5]:
data

   Train Nos  Speed     City
0       1212     40   Rampur
1       2323     29  Kolkata
2       4324     60    Delhi
3       3434     80     Agra

In [8]:
# to read different sheets in a file
data = pd.read_excel('Sheet2.xlsx', sheet_name="newsheets");

In [9]:
data

   Bus nos  Road     City
0      112    40   Rampur
1       12    29  Kolkata
2       13    60    Delhi
3       13    80     Agra

In [12]:
# change the data
data.iloc[0,0]=1000

In [11]:
data

   Bus nos  Road     City
0     1000    40   Rampur
1       12    29  Kolkata
2       13    60    Delhi
3       13    80     Agra